@page
@model BlogAssignment.Pages_Articles.IndexModel

@{
    ViewData["Title"] = "News Articles";
}

<h1>News Articles</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Contributor"))
{
    <p>
        <a asp-page="/Articles/Create" class="btn btn-primary">Create New Article</a>
    </p>
}

@foreach (var item in Model.Articles) {
  <div class="border border-primary p-3 mb-2">
    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
    <h4>
      @* First Name and Last Name of Contributor, formatted Date *@
      @{
          //var contributor = await _userManager.FindByNameAsync(item.ContributorUsername);
          var fullName = @Html.DisplayFor(modelItem => item.ContributorFullName);
          var formattedDate = item.CreateDate.ToString("MMMM dd, yyyy");
      }
      <span>@fullName, @formattedDate</span>
    </h4>
    <p>
      @* Truncate the Body to 100 characters *@
      @if (item.Body.Length > 100)
      {
        @item.Body.Substring(0, 100) <a asp-page="./Articles/Details" asp-route-id="@item.ArticleId">...more</a>
      }
      else
      {
        @item.Body <a asp-page="./Articles/Details" asp-route-id="@item.ArticleId">...more</a>
      }
    </p>
  </div>
}
